 
  <section id="about" class="section about">
    <div class="container">
      <h1 class="section-title">About Our Product Catalogue</h1>
      <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum tortor ac ante tristique, eget malesuada est fermentum.</p>
      <a (click)="navigateToProducts()" class="button">Go to Product Catalogue</a>
    </div>
  </section>
  
  <footer>
    <p>&copy; 2024 Your Company. All rights reserved.</p>
  </footer>