@import '../../styles.scss';

.page-container {
  @include flex-center;
  justify-content: flex-start;
}

.product-list-container {
  background-color: $background-color;
  padding: 20px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 10px;
}

.accordion {
  background-color: $background-color;
}

.products-section {
  display: flex;
  flex-direction: column;
}

.header-bar {
  @include flex-between;
  position: relative;
  padding: 20px;
  background-color: #f4f4f4;
  margin: 25px 0;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #f4f4f4;
    width: 100%;
    position: absolute;
    left: 0;
  }

  &::before {
    top: -10px;
  }

  &::after {
    bottom: -10px;
  }
}

.productLength {
  font-weight: bold;
  color: $secondary-color;
}

.filterOptions {
  display: flex;
  align-items: flex-start;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-card {
  @include box-style;
  width: calc(25% - 30px);
  max-width: 350px;
  margin: 15px;

  &:hover {
    box-shadow: $hover-box-shadow;
  }

  .product-details {
    @include flex-between;
    text-align: left;
    padding: 10px;
  }

  .price {
    font-weight: bold;
    color: $primary-color;
    font-size: 20px;
  }

  .product-name {
    color: $secondary-color;
    font-size: 15px;
    font-weight: 700;
  }

  img {
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 400px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure the image covers the container proportionally */
    display: block;
  }
}

.paginator {
  background-color: #f4f4f4;
}

// Responsive adjustments
@media (max-width: 1200px) {
  .product-card {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .product-card {
    width: calc(100% - 30px);
    margin: 15px auto;
  }

  .content-wrapper {
    grid-template-columns: 1fr;
  }
}
